.square {
  width: 60px;
  height: 60px;
  line-height: 60px;
  border: 2px solid #333;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  margin: 2px;
  text-align: center;
  vertical-align: middle;
  padding: 0;
}

.transform-container {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.board-container {
  display: block;
  background: var(--gray-a4);
  border-radius: var(--radius-3);
  pointer-events: all;
}
